language: fsharp
sudo: required
dist: xenial
dotnet: 3.0

env:
  - solution: Semester4/Homework1/1.1/1.1.sln
  - solution: Semester4/Homework1/1.2/1.2.sln
  - solution: Semester4/Homework1/1.3/1.3.sln
  - solution: Semester4/Homework1/1.4/1.4.sln
  - solution: Semester4/Homework1/1.5/1.5.sln
  - solution: Semester4/Homework6/6.2/6.2.sln

before_build:
  - nuget restore $solution

build:
  - dotnet build $solution

script:
  - dotnet test $solution 