@model IEnumerable<_12._1.Models.History>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListParticipants</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
    <div class="panel-body">
        <h2>List of conference participants:</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Is speaker</th>
                </tr>
            </thead>
            <tbody>
                @foreach (_12._1.Models.History p in Model)
                {
                    <tr>
                        <td>@p.Name</td>
                        <td>@p.Email</td>
                        <td>@(p.Speaker == true ? "Yes" : "No")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

</html>