@{
    Layout = null;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
    <div class="text-center">
        <h3>SEIM-2018 conference will be held on 14th April in St. Petersburg.</h3>
        <a class="btn btn-primary" asp-action="Register">Register now!</a>
    </div>
</body>

</html>