@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test runner</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
    <h4>Select assemblies</h4>
    <div class="upload-form">
        <form asp-action="UploadFile" asp-controller="Home" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".dll" />
            <br>
            <input type="submit" value="Upload" />
        </form>
    </div>
    <br>
    <div class="delete-files">
        <form asp-action="DeleteUploadedFiles" asp-controller="Home">
            <input type="submit" value="Delete uploaded files" />
        </form>
    </div>
    <br>
    <br>
    <h4>Start testing</h4>
    <div class="run-tests">
        <form asp-action="RunTests" asp-controller="Home">
            <input type="submit" value="Run tests" />
        </form>
    </div>
</body>

</html>